* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    margin: 0;
}

header nav a {
    color: white;
    border: 1px solid white;
    padding: 3px 8px;
    text-decoration: none;
    /* transition: color 200ms ease-in; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue;
    color: white;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.stereo-image {
    height: 750px;
    /* width: 1250px; */
    margin-top: 2px;
    cursor: alias;
}

p a {
    color: black;
    border: 1px solid blue;
    padding: 3px 8px;
    text-decoration: none;
}
